APP_NAME="LPP Gestion Scolaire"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_TIMEZONE=Africa/Ouagadougou

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Local simple : SQLite
DB_CONNECTION=sqlite
# DB_DATABASE=database/database.sqlite
DB_FOREIGN_KEYS=true

# Serveur MySQL ou MariaDB
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=lpp_gestion
# DB_USERNAME=lpp_user
# DB_PASSWORD=
# DB_CHARSET=utf8mb4
# DB_COLLATION=utf8mb4_unicode_ci

# Serveur PostgreSQL
# DB_CONNECTION=pgsql
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_DATABASE=lpp_gestion
# DB_USERNAME=lpp_user
# DB_PASSWORD=
# DB_SSLMODE=prefer

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="infoslyceepagnidibsom@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

LPP_BACKUP_TIME=22:00
LPP_BACKUP_KEEP_DAYS=14
# Optionnel si mysqldump/pg_dump ne sont pas dans le PATH du serveur
# LPP_MYSQLDUMP_PATH=C:\laragon\bin\mysql\mysql-8.4.3-winx64\bin\mysqldump.exe
# LPP_PGDUMP_PATH=/usr/bin/pg_dump

VITE_APP_NAME="${APP_NAME}"
